!!! 5
%html(ng-app='my-app')
  %head
    %script(src='http://code.angularjs.org/angular-1.0.0rc10.min.js')
    %script(src='/application.js')
  %body
    %h1 {{ 1 + 2 }}
    #stage(ng-view)

  %script(type='text/ng-template' id='list.html')
    %h2 {{ 'All ok? ' + ok }}
